site_name: Event Driven Architecture
repo_url: https://github.com/ibm-cloud-architecture/refarch-eda
google_analytics:
  - 'UA-149377589-3'
  - 'auto'
nav:
  - Home: index.md
  - Concepts: concepts/README.md
  - Architecture:
    - Reference diagrams: architecture.md
    - Event sources: evt-src/README.md
    - Event backbone: evt-backbone/README.md
    - Event actions: evt-action/README.md
    - Event managed states: evt-state/README.md
    - Event Stream & Kafka architecture: kafka/arch.md
  - Methodology:
    - Event driven methodology: methodology/readme.md
    - Event Storming: methodology/eventstorming.md
    - Event Storming applied to container shipment analysis: https://ibm-cloud-architecture.github.io/refarch-kc/analysis/readme/
    - Domain driven design for event based solution: methodology/ddd.md
  - Event driven design patterns:
    - Microservices: evt-microservices/README.md
    - Event-driven patterns: design-patterns/ED-patterns.md
    - Event Sourcing: design-patterns/event-sourcing.md
    - CQRS: design-patterns/cqrs.md
    - Saga: design-patterns/saga.md
    - Data replication pattern: design-patterns/data-replication.md
  - Reference implementations:
    - Container shipment implementation solution: https://ibm-cloud-architecture.github.io/refarch-kc
  - Product guidances:
    - Kafka concepts summary: kafka/readme.md
    - Architecture considerations: kafka/arch.md
    - Kafka producer development practices:  kafka/producers.md
    - Kafka consumer development practices: kafka/consumers.md
    - Kafka streaming processing: kafka/kafka-stream.md
    - Kafka Connect: kafka/connect.md
    - Kafka FAQ: kafka/FAQ.md
    - Adopting Avro with Kafka: https://ibm-cloud-architecture.github.io/refarch-kc/avro/avro
    - Kafka monitoring: kafka/monitoring.md
    - Serverless: serverless/README.md
  - Deployments:
      - Event Streams IBM CLOUD deployment: deployments/eventstreams/es-ibm-cloud.md
      - Event Streams Cloud Pak Integration deployment: deployments/eventstreams/README.md
      - Kafka deployment: deployments/kafka/README.md
      - Zookeeper deployment: deployments/zookeeper/README.md
      - Postgresql: deployments/postgresql/README.md
      - Ceph deployment on ICP: deployments/eventstreams/Install_Ceph_on_ICP.md
      - Kafka deployment with Strimzi: deployments/strimzi/deploy.md
      - Troubleshouting: https://github.com/ibm-cloud-architecture/refarch-integration/blob/master/docs/icp/troubleshooting.md
  - Real time analytics:
    - Concepts: rt-analytics/README.md
    - Reefer Container Predictive Maintenance: https://ibm-cloud-architecture.github.io/refarch-reefer-ml
  - Compendium: compendium.md
theme:
  name: material
  logo: images/cloud.png
extra_css: ["extra.css"]
markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - pymdownx.smartsymbols
  - pymdownx.superfences
