.section ul li {
  margin-bottom: 10px;
}


.md-typeset pre>code {
  --md-hue: 232;
  --md-code-fg-color: #f5f5f5;
  --md-code-bg-color: #030303;
  --md-code-hl-color: #33914f75;


}
code>* {
  --md-default-fg-color--light: hsl(66, 41%, 69%);
  --md-code-hl-number-color:         hsla(6, 74%, 63%, 1);
  --md-code-hl-special-color:        hsla(340, 83%, 66%, 1);
  --md-code-hl-function-color:       hsla(291, 57%, 65%, 1);
  --md-code-hl-constant-color:       hsla(250, 62%, 70%, 1);
  --md-code-hl-keyword-color:        hsla(219, 66%, 64%, 1);
  --md-code-hl-string-color:         hsla(150, 58%, 44%, 1);
  --md-code-hl-name-color:           var(--md-code-fg-color);
  --md-code-hl-operator-color:       var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color:    var(--md-default-fg-color--light);
  --md-code-hl-comment-color:        var(--md-default-fg-color--light);
  --md-code-hl-generic-color:        var(--md-default-fg-color--light);
  --md-code-hl-variable-color:       var(--md-default-fg-color--light);
}
.md-clipboard {
  color: white;
}
.md-clipboard:focus, .md-clipboard:hover {
  color: rgb(207, 203, 203);
}
:hover>.md-clipboard {
  color: rgb(207, 203, 203);
}

.highlight.no-copy .md-clipboard {
  display: none;
}


:root {
  --md-default-bg-color: #f4f4f4;
}
:root > * {
    --md-accent-fg-color: #030303;
}
.md-nav {
    font-size: .75rem;
    line-height: 1.3;
}
.md-grid {
    max-width: initial;
}
li .md-nav__item--active {
    background-color: #e0e0e0;
}

.md-nav__item .md-nav__link--active {
    color: #161616;
    font-weight: 600;
}
.md-clipboard {
    color: #161616;
}

.md-tabs__link {
    font-size: .8rem;
}


div.col-md-9 h1:first-of-type {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}

div.col-md-9 h1:first-of-type .headerlink {
    display: none;
}

code.no-highlight {
    color: black;
}


/* Definition List styles */

dd {
    padding-left: 20px;
}


/* Center images*/

img.center {
    display: block;
    margin: 0 auto;
}

.md-content, .md-sidebar__scrollwrap {
    padding-bottom: 6rem;
}

.md-header__inner {
    padding: .3rem .2rem;
}

span.md-ellipsis {
    font-weight: bold;
}

.homepage {
    font-size: 1.2rem;
}

.md-footer-meta__inner {
    justify-content: space-evenly;
}

.md-footer-column {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction
       and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: column wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

    padding: 5px 5px;
}

.md-footer-text {
    font-size: .7rem;
    padding: 2px 0;
}

/* top git source icon */
.md-header__source {
    width: 2rem;
  }

/* search box */
.md-search__inner {
width: 8rem;
}

/* center colum white */
.md-content {
    background-color: #fff;
}

/* adjust center column */
.md-main__inner {
    margin-top: 0px;
}

/* top banner home page */
[data-md-color-primary=black] .md-header {
    background-color: #161616;
}

/* tabs border */
.md-typeset .tabbed-set>label {
    border-bottom: .1rem solid #4051b5;
}

/* headings */
.md-typeset h1, .md-typeset h2 {
    font-weight: 500;
}

.md-typeset .admonition {
    font-size: .75rem;
}