// This is where your application styles could go.
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    /*font-family: "Open Sans", sans-serif;*/
}

h5.bx--article-card__subtitle {
  margin-bottom: 5px;
}
